*.wav diff=lfs merge=lfs -text
*.gitignore diff=lfs merge=lfs -text
*.nojekyll diff=lfs merge=lfs -text
*.nojekyll diff=lfs merge=lfs -text
*.md diff=lfs merge=lfs -text
*.yml diff=lfs merge=lfs -text
*.qmd diff=lfs merge=lfs -text
*.html diff=lfs merge=lfs -text
*.json diff=lfs merge=lfs -text
*.png diff=lfs merge=lfs -text
*.mp4 diff=lfs merge=lfs -text
*.css diff=lfs merge=lfs -text
*.woff diff=lfs merge=lfs -text
*.js diff=lfs merge=lfs -text
*.mp3 diff=lfs merge=lfs -text
*.txt diff=lfs merge=lfs -text